<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>まとめ詳細</title>
	</head>
	<body>
		<div th:replace="~{fragment :: header}"></div>
		
		<main>
			<div class="container pt-4 pb-5">
               <div class="row justify-content-center">
                   <div class="col-xl-5 col-lg-6 col-md-8">
					   <h1>まとめ詳細</h1>
	                       
	                   <h1 class="mb-4 text-center" th:text="${summarize.name}"></h1>
	
					   <a th:href="@{/summarize}">&lt;戻る</a>
					   
	                   <div class="d-flex justify-content-end align-items-end mb-3">
	                       <div>
	                           <a th:href="@{/summarize/__${summarize.id}__/edit}">編集</a>
	                       </div>
	                   </div>
	
	                   <div class="container mb-4">
	                       <div class="pb-2 mb-2 border-bottom">
	                           <div class="col">
	                               <span class="fw-bold">ID</span>
	                           </div>
	
	                           <div class="col">
	                               <span th:text="${summarize.id}"></span>
	                           </div>
	                       </div>
	
	                       <div class="pb-2 mb-2 border-bottom">
	                           <div class="col">
	                               <span class="fw-bold">まとめ名</span>
	                           </div>
	
	                           <div class="col">
	                               <span th:text="${summarize.name}"></span>
	                           </div>
	                       </div>
						   
	                       <div class="pb-2 mb-2 border-bottom">
	                           <div class="col">
	                               <span class="fw-bold">製品名</span>
	                           </div>
	
	                           <div class="col">
	                               <span th:each="product : ${summarize.product}" th:text="${product.name}"></span>
	                           </div>
	                       </div>
						   
	                       <div class="pb-2 mb-2 border-bottom">
	                           <div class="col">
	                               <span class="fw-bold">マニュアル名</span>
	                           </div>
	
	                           <div class="col">
	                               <span th:each="manual : ${summarize.manual}" th:text="${manual.name}"></span>
	                           </div>
	                       </div>
						
	                   </div>
                   </div>
			   </div>
		   </div>
			
		</main>
		
		<!--フッター-->
		<div th:replace="~{fragment :: footer}"></div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>