<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<!-- meta要素の部品化 -->
		<div th:fragment="meta" th:remove="tag">
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</div>
		
		<!--link要素の部品化-->
		<div th:fragment="styles" th:remove="tag">
			<link th:href="@{/css/style.css}" rel="stylesheet">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		</div>
		
		<title>部品化用のHTMLファイル</title>
	</head>
	
	<body>
		<!-- ヘッダーの部品化 -->
		<div th:fragment="header" th:remove="tag">
			<div class="wrapper">
				<nav class="navbar navbar-expand-md navbar-light shadow-sm">
	                <div class="container">
	                    <a class="navbar-brand" th:href="@{/}"> 
	                        <img class="img-fluid custom-img me-1" th:src="@{/images/logo.webp}" alt="イメージ画像">                        
	                    </a>    
	                    
	                    <div class="collapse navbar-collapse" id="navbarSupportedContent">                                    
	                        <ul class="navbar-nav ms-auto">    
	                            <!-- 未ログインであれば表示する -->
	                            <div class="nav-item" sec:authorize="isAnonymous()">
	                                <a class="nav-link" th:href="@{/login}">ログイン</a>
	                            </div>                                                      
	                    
	                            <!-- ログイン済みであれば表示する --> 
	                            <div class="nav-item dropdown" sec:authorize="hasRole('ROLE_GENERAL')">
	                                <a id="navbarDropdownGeneral" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
	                                    <span sec:authentication="principal.user.name"></span>
	                                </a>
	        
	                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownGeneral">                                                                  
	                                    <a class="dropdown-item" th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
	                                        ログアウト
	                                    </a>
	                                    <form class="d-none" id="logout-form" th:action="@{/logout}" method="post"></form>                                     
	                                </div>
	                            </div>                       
	                        </ul>       
	                    </div>                                                                                    
	                </div>
	            </nav>
			</div>
		</div>
		
		<!--フッター-->
		<div th:fragment="footer" th:remove="tag">
			<footer class="fixed-bottom shadow-lg">
	            <div class="container py-2">
	                <div class="d-flex center-container">
	                    <a th:href="@{/}" class="nav-item">
	                        <i class="fa-solid fa-home"></i>
	                        <span class="d-block small">ホーム</span>
	                    </a>
	                    <a th:href="@{/product}" class="nav-item">
	                        <i class="fa-solid fa-search"></i>
	                        <span class="d-block small">製品</span>
	                    </a>
	                    <a th:href="@{/manual}" class="nav-item">
	                        <i class="fa-solid fa-bell"></i>
	                        <span class="d-block small">マニュアル</span>
	                    </a>
	                    <a th:href="@{/summarize}" class="nav-item">
	                        <i class="fa-solid fa-user"></i>
	                        <span class="d-block small">まとめ</span>
	                    </a>
	                </div>
	            </div>
	        </footer>
		</div>
		
		<!--script要素の部品化-->
		<div th:fragment="scripts" th:remove="tag">
			<!--Bootstrap-->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
		</div>
	</body>
</html>